**/*.DS_Store
_site/
.*.sw[pon]
__pycache__/
karel_dataset/
**/output_dir_new_vae_L40_1m_30epoch_20230104
**/wandb
/py3129
/venv
*.gif
*.zip
*.png
*.npy
pretrain/action_fuse_all_new/
pretrain/action_fuse_all_dataset_clip/
